.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 48px;
  height: 48px;
  background-color: cornflowerblue;
  border: 1px solid black;
}

.ships {
  background-color: chartreuse;
  border: 1px dashed black;
}

#ship1 {
  width: 98px;
  height: 48px;
}

#ship2 {
  width: 148px;
  height: 48px;
}

#ship3 {
  width: 198px;
  height: 48px;
}